/*.button {
    background-color: rebeccapurple;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid red;
    color: goldenrod;

    border-radius: 6px;
    
    display: inline-block;
}
.activebutton {
    background-color: greenyellow;
    border: 1px solid rgb(0, 26, 255);

    color: red;
}

.mat-toolbar{
    color: #7c19dd;
}*/

.tab-content{
    display: flex;
    justify-content: center;
    padding: 3rem 5rem;
    flex-direction: column;
}